/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* CUSTOM CSS */

$primary: #242424;
$primary-light: #2b2b2b;
$primary-dark: #101010;
$secondary: #5ed493;
$secondary-dark: #356d4e;
$foreground: #F8F8F2;

@mixin tile {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
  background-color: $primary-light;
}

@mixin scroll-y {
  overflow-y: scroll;
  scrollbar-color: $secondary $secondary-dark;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $secondary-dark;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
  }
}

.boggle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  .players {
    color: $foreground;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;

    .username {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

}

.board {
  grid-column: 2;
  grid-row: 1;

  color: $foreground;
  text-align: center;
}

.login {
  text-align: center;
  color: $foreground;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  h2 {
    font-size: 3.5rem;
  }

  form {
    width: 250px;
    margin: auto;

    input[name="username"] {
      width: 100%;
      height: 50px;
      display: inline-block;
      font-size: 2rem;
    }
  
    button {
      width: 100%;
      display: inline-block;
    }
  }
}

.grid {
  text-align: center;
  max-width: 330px;
  margin: auto;
  line-height: 0;

  .letter {
    border: 2px solid black;
    width: 20%;
    box-sizing: content-box;
    padding-bottom: 20%;
    // height: 70px;
    display: inline-block;
    margin: 1%;
    border-radius: 20%;
    background-color: $foreground;
    box-shadow: black 0px 3px 5px;
    position: relative;
  
    svg {
      width: 100%;
      height: 100%;
      margin: 0;
      margin-top: 6%;

      // font-size: 3.1em;
      color: black;
      font-weight: bold;
      font-family: 'Arial';
      display: block;
      user-select: none;

      position: absolute;
      height: 80%;
    }
  
    &.highlighted {
      background-color: $secondary;
    }
  }
  
}


body {
  background-color: $primary;
}

@font-face {
  font-family: "OldSansBlack";
  src: url("/fonts/OldSansBlack.ttf") format("truetype");
}

header {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;

  div {
    flex-shrink: 0;
  }
  
  .logo {
    margin: 0;
    margin-right: 30px;

    h1 {
      a {
        color: inherit;
      }

      text-align: center;
      color: $foreground;
      font-size: 3em;
      // font-weight: bold;
      text-shadow: rgba(0, 0, 0, 0.336) 2px 2px 10px;
      font-family: 'OldSansBlack';

      .first-letter {
        color: $secondary;
      }
    }
  }

  .language-select, .header-rules {
    color: white;
    margin-right: 25px;

    a {
      color: inherit;
      text-transform: uppercase;

      &.selected, &:hover {
        color: $secondary
      }

      &.selected {
        font-weight: bold;
      }
    }
  }
}

.submit {
  margin: auto;
  margin-top: 25px;
  max-width: 300px;
  
  input[type=text] {
    padding: 25px;
    font-size: 2em;
  }

  button {
    width: 100%;
    font-size: 1em;
    height: 50px;
  }
}


input[type=text] {
  background-color: $foreground;
  text-transform: uppercase;
  font-weight: bold;

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

  &:focus {
    border-color: $secondary;
  }
}

button {
  background-color: $secondary;
  border: none;
  color: $primary;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    background-color: $secondary-dark;
    color: $foreground;
  }

  &:active:not([disabled]) {
    background-color: $secondary-dark;
  }
}

.words_list {
  grid-column: 1;
  grid-row: 1;

  color: $foreground;
  text-align: center;

  h2 {
    margin-bottom: 2px;
  }

  ul {
    @include tile;
    @include scroll-y;

    text-align: left;
    max-height: 500px;
    padding: 20px 10px 10px 10px;

    li {
      text-transform: uppercase;
      list-style-type: none;
      line-height: 2em;
      font-weight: 500;
      padding-left: 10px;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      // overflow: hidden visible;

      width: 20%;
      margin: -0.2em 2%;
      text-align: center;
      display: inline-block;

      cursor: pointer;

      &:hover {
        color: $secondary;
      }

      &.found {
        color: $secondary;
        font-weight: bold;
      }
    }
  }
}

.game_stats > div {
  color: $foreground;
  font-size: 1.5em;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  .stat {
    flex: 1 0 45%;
  }

  .full {
    flex: 2 0 95%;
  }

  .timer {
    font-size: 1.5em;
  }

  .blinking {
    animation: blinker 1s steps(1) infinite;
  }

  p.full {
    padding: 15px 0 0 15px;
  }
}

@keyframes blinker {
  50% {
    color: $secondary;
  }
}

.stat {
  @include tile;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  margin: 10px 5px;

  .stat-name {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  .stat-value {
    font-size: 3rem;
    margin: 0;
  }
}

.ranking {
  @include tile;
  @include scroll-y;

  max-height: 500px;
  padding: 10px;
  padding-bottom: 0px;
  width: 92.5%;
  margin: 10px 5px;
  flex: 2 0 95%;

  font-size: 1.8rem;
  text-align: center;

  table {
    table-layout: fixed;
  }

  thead {
    margin-bottom: 10px;

    th {
      padding: 0;
      text-align: center;
      border-bottom: 0px;
      padding-bottom: 10px;
    }
  }

  tbody {
    tr {
      max-height: 15px;
      padding: 0;

      &.selected td {
        background-color: $secondary-dark;
      }
    }
  }

  td {
    border: 0px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
  }
}

.header-rules {
  color: white;
}

.rules {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  .content {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    background-color: $primary;
    box-shadow: 0px 5px 15px black;
    padding: 25px;
    color: $foreground;
    max-width: 500px;
    max-height: 500px;
    overflow: scroll;

    ul li {
      margin-left: 10px;
      text-align: left;
      list-style-position: outside;
    }
  }
}

@media (max-width: 1300px) {
  .words_list ul li {
    width: 25%;
  }
}

@media (max-width: 1100px) {
  .words_list ul li {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .boggle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .game_stats {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .words-info {
    h2 {
      font-weight: 1.5em;
    }

    .words_list ul li {
      width: 100%;
    }
  }

  .rules {
    .content {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .logo {
    font-size: 1.2rem;
    display: block;
    width: 100%;

    h1 {
      width: 50%;
    }
  }

  .players {
    text-shadow: 2px 2px 15px black;
  }
}

.stat-value {
  position: relative;

  .mark-points {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(20%);
    font-weight: bold;
  
    animation: mark_points 0.4s linear forwards;
  }
}

@keyframes mark_points {
  100% {
    color: $secondary;
    font-size: 2em;
    opacity: 0;
  }
}

.absent {
  opacity: 0.3;
}

.countdown {
  font-size: 5em;
  text-shadow: 0 0 30px black;
  color: white;

  position: absolute;
  left: 50%;
  top: 260px;
  transform: translateY(-50%) translateX(-50%);
  animation: countdown 0.6s linear forwards;
}

@keyframes countdown {
  100% {
    font-size: 8em;
    opacity: 0;
  }
}

.chat {
  @include tile;
  padding: 20px 10px;

  h2 {
    color: $foreground;
    padding-left: 10px;
  }

  .messages {
    @include scroll-y;

    color: $foreground;
    padding: 10px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 10px $primary-dark;

    .message {
      margin-bottom: 10px;

      .message-user {
        font-weight: bold;
        // color: $secondary;
        display: inline-block;
      }

      .message-time {
        font-size: 0.8em;
        display: inline-block;
        color: #6b6b6b;

        &::before {
          content: '·';
        }
      }

      .message-content {
        display: block;
        font-size: 0.96em;
        line-height: 1.2em;
      }
    }
  }

  .submit-chat {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 0;
    
    input {
      margin-right: 10px;
      text-transform: none;
      flex: 1 1 auto;
      width: auto;
      margin-bottom: 0;
    }
  }
}

.boggle.results-phase {
  .chat-wrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .words-info {
    grid-column: 1;
    grid-row: 1;

    .board {
      margin-bottom: 20px;

      .grid {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 650px) {
  .boggle.results-phase {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    .chat-wrapper {
      grid-column: 1;
      grid-row: 1;
    }
    
    .words-info {
      grid-column: 1;
      grid-row: 2;
    }
    
    .game_stats {
      grid-column: 1;
      grid-row: 3;
    }
  }
}



